html, body, #root, .App {
  height:100%;
  background: #007bff!important;
}

main {
  background: white;
  width: 65%;
  margin: 2em auto;
}

input, textarea {
  width:100%;
}

section {
  margin: 1em;
  padding: 1em;
}

.display {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  /* height: 100%;
  min-width:250px; */
  flex: 0 1 24%;
}

.card-title {
  margin:0;
  padding:0;
}
 /*********** MY CSS *****************/
 .smurf-card{
   margin: auto;
   /* width:50%; */
 }
 .card{
   margin: 2% 25%;
   width: 50%;
   padding: 5%;
   border: 2px black solid;
   border-radius: 10px;
 }
 .card h2{
   text-align: center;
   padding-bottom: 4px;
   border-bottom: 2px  #007bff solid;
 }
.card p span{
  font-weight: bold;
}
.display-container{
  margin: auto;
  /* border: 2px  #007bff solid; */
}
.display{
  color: #007bff;
  font-size: 3rem;
  /* border: 2px  #007bff solid; */
  /* margin: 0 25%; */
  justify-content: center;
}


@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }
}